<p class="mb-32">Hello</p>
<nav class="grid grid-cols-1 md:grid-cols-2 gap-7 mb-[52px] md:mb-[123px] lg:mb-[133px] justify-items-center">
    <div class="px-[30px] py-[10px] flex justify-between items-center bg-[#FFFFFF33] rounded-[20px] w-[270px] h-[40px] backdrop-blur-[20px] md:justify-self-end">
        <input class="font-normal text-base text-[#FFFFFF] placeholder-[#939393] focus:outline-none" placeholder="Start searching">
        <img src="../public/icon-search.svg" alt="Logo" class="size-3">
    </div>
    <div class="px-[30px] py-[10px] flex justify-between items-center bg-[#FFFFFF33] rounded-[20px] w-[270px] h-[40px] backdrop-blur-[20px] md:justify-self-start cursor-pointer select-none">
        <h3 class="font-normal text-base text-[#939393]">Choose country</h3>
        <img src="../public/icon-dropdown.svg" alt="Logo" class="size-3">
    </div>
  </nav>